:root {
    --logo-header-color: #000000;
    --text-on-dark-color: #ffffff;
    --primary-h-color: #212121; 
    --accent-color: #2196F3;
    --primary-text-color: #757575;
    --background-main-color: #ffffff;
    --background-secondary-color: #2F303A;
    --background-active-button: #188CE8;
    --background-filter-color: #F5F4FA;
    --background-crew-color: #F5F4FA;
    --background-card-color: #EEEEEE;
    --filter-text: #212121;
}
/*======================Global==============*/
body {
    background-color: var(--background-main-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
}

.link {
    text-decoration: none;
}
.current,
.link:hover,
.link:focus {
    color: var(--accent-color);
}
.list {
    list-style: none;
}
.button {
    cursor: pointer;
}
/*======================Global==============*/


/*=========Header=========*/
/*===Logo===*/
.logo  {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color)
}
.menu-logo {
    color: var(--logo-header-color);
}
/*===Logo===*/
/*=========Header=========*/

/*=========Menu==========*/
.nav-link,
.contacts-link {
    color: var(--primary-h-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
/*=========Menu==========*/
/*======================Global==============*/


/*========Index-Main===========*/
.hero {
    background-color: var(--background-secondary-color);
    }
.hero-title {
    color: var(--text-on-dark-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
}
.hero-button {
    background-color: var(--accent-color);
    color: var(--text-on-dark-color);
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;
    cursor: pointer;
}
.hero-button:active,
.hero-button:hover,
.hero-button:focus {
    background-color: var(--background-active-button);
} /*Чому буває таке, що при правильно написаному коді він не завжди працює? Наприклад, тут в мене до перезагрузки vs code працювао тільки через .hero-button:active:hover:focus і то тільки active, хоча, можливо, я хувер не помітила*/

/*Особливості*/
.hidden {
    visibility: hidden;
}
.feature-title {
    color: var(--primary-h-color);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.feature-txt {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    }

/*Чим ми займаємося*/
.headline {
    color: var(--primary-h-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
}

/*Наша команда*/
.crew-section {
    background-color: var(--background-crew-color);
}
.crew-card {
    background-color: ver(--background-main-color);
}
.card-title {
    color: var(--primary-h-color);
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
}
.card-paragraph {
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
}
/*========Index-Main===========*/


/*===========Portfolio-Main==============*/
/*======Filter======*/
.filter-item {
    display: inline;
}
.filter-button {
    background-color: var(--background-filter-color);
    color: var(--filter-text);
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.03em;
}
.filter-button:active,
.filter-button:hover,
.filter-button:focus {
    background-color: var(--accent-color);
    color: var(--text-on-dark-color);
}
/*=======Filter========*/

/*======Store=========*/
.store-card {
    background-color: ver(--background-card-color);
}
.store-title {
    color: var(--primary-h-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.store-text {
    line-height: 1.9;
    letter-spacing: 0.03em;
}
/*======Store=========*/
/*===========Portfolio-Main==============*/


/*===================FOOTER==================*/
.footer {
    background-color: var(--background-secondary-color);
    color: var(--text-on-dark-color);
    font-family: 'Roboto', sans-serif;
}
.footer-logo {
    color: var(--text-on-dark-color);
}
.location-item {
    font-style: normal; /*Але для чого якщо в інструментах розробника він і так там приписаний через address-item*/
}
.address-item {
    font-style: normal;
    color: var(--text-on-dark-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.opacity {
    color: #ffffff99;
    /*Як написати опасіті в hex через ver(--)? я шукала в інтернеті і не знайшла 😕*/
}
/*===================FOOTER==================*/
